.lead{
  max-width: 984px;
  width: 100%;
  min-height: 1005px;
  padding-top: 56px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
    }

    @media screen and (max-width: 1024px){

      .lead{
        max-width: 928px;
        min-height: 962px;
        padding-top: 48px;
    }
    }

    @media screen and (max-width: 768px){

      .lead{
        max-width: 768px;
        min-height: 862px;
        padding-top: 48px;
    }
    }

    @media screen and (max-width: 320px){
      .lead{
        max-width: 320px;
        min-height: 406px;
        padding-top: 48px;
    }

    }
