.cover{
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;

}
    .cover:hover .cover__overlay{
      opacity: 0.8;
  }

@media screen and (max-width: 1024px){

  .cover{
    max-width: 1024px;
    min-height: 640px;
}

}

@media screen and (max-width: 768px){


  .cover{
    max-width: 768px;
    min-height: 480px;
}
}

@media screen and (max-width: 320px){

  .cover{
    max-width: 320px;
    min-height: 200px;
}

}
