.place__link{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: 0.5s;
  text-decoration: underline;
  cursor: pointer;
}

.place__link:hover{
  opacity: 0.8;
}
