.place{
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 40px;
}

    @media screen and (max-width: 1024px){


      .place{
        max-width: 928px;
        gap: 48px 32px;
    }


    }

    @media screen and (max-width: 768px){




      .place{
        max-width: 720px;
        gap: 48px 28px;
        align-items: flex-start;

    }
    }

    @media screen and (max-width: 320px){
      .place{
        max-width: 320px;
        gap: 32px;
        justify-content: center;

    }

    }
